<!DOCTYPE html>
<html lang="zh-tw">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>選取通路</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
	
  <!-- Favicons -->
  <link href="{%static 'main/img/favicon.png'%}" rel="icon">
  <link href="{%static 'main/img/favicon.png'%}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'main/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'main/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v3.0.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href={%url 'main'%}>PAY PAY豬</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href={%url 'main'%} class="logo me-auto"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href={%url 'main' %}>首頁</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href={%url 'main' %}>首頁</a></li>
          <li>選取通路</li>
        </ol>
        <h2>請選擇您使用的通路</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="inner-page" class="portfolio">
      <div class="container" data-aos="fade-up">

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">所有通路</li>
          <li data-filter=".filter-conv">超商</li>
          <li data-filter=".filter-wholesale">藥妝店</li>
          <li data-filter=".filter-dept">百貨</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-3 col-md-5 portfolio-item filter-conv">
            <a href="{% url 'result1' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/711.png'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>7-Eleven</h4>
              <p>超商</p>
              <a href={%url 'result1' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 portfolio-item filter-conv">
            <a href="{% url 'result2' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/family.jpg'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>全家</h4>
              <p>超商</p>
              <a href={%url 'result2' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>			
			
          <div class="col-lg-3 col-md-5 portfolio-item filter-conv">
            <a href="{% url 'result3' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/hi-life.png'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>萊爾富</h4>
              <p>超商</p>
              <a href={%url 'result3' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-conv">
            <a href="{% url 'result4' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/ok.png'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>OK</h4>
              <p>超商</p>
              <a href={%url 'result4' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-wholesale">
            <a href="{% url 'result5' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/poya.jpg'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>寶雅</h4>
              <p>藥妝店</p>
              <a href={%url 'result5' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-wholesale">
            <a href="{% url 'result6' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/cosmed.jpg'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>康是美</h4>
              <p>藥妝店</p>
              <a href={%url 'result6' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-wholesale">
            <a href="{% url 'results' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/wastons.jpg'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>屈臣氏</h4>
              <p>藥妝店</p>
              <a href={%url 'results' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-dept">
            <a href="{% url 'results' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/far_eastern.png'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>遠東百貨</h4>
              <p>百貨</p>
              <a href={%url 'results' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
			
		<div class="col-lg-3 col-md-5 portfolio-item filter-dept">
            <a href="{% url 'results' %}"><div class="portfolio-img"><img src="{%static 'main/img/merchants/skm.png'%}" class="img-fluid" alt=""></div></a>
            <div class="portfolio-info">
              <h4>新光三越</h4>
              <p>百貨</p>
              <a href={%url 'results' %} class="details-link"><i class="bx bx-link"></i></a>
            </div>
          </div>				
        </div>
		<a class="btn btn-secondary" href={%url 'pay'%} role="button">上一步</a>
      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; 2021 <strong><span>PAY PAY豬團隊</span></strong>。 保留所有權利
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        模版由 <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a> 提供 | APP圖示由 <a href="https://icons8.com/" target="_blank">Icons8</a> 提供
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'main/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'main/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{%static 'main/vendor/php-email-form/validate.js'%}"></script>
  <script src="{%static 'main/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{%static 'main/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'main/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{%static 'main/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{%static 'main/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'main/js/main.js'%}"></script>

</body>

</html>